.details {
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  margin-left: 1rem;
}

.details img,
.details div {
  margin-bottom: -1px;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: -1px;
  padding: 0;
  /* width: 300px; */
  border: 1px solid grey;
  background-color: whitesmoke;
}

.details div {
  padding: 1em;
  margin-top: 0;
}

.details img {
  height: 300px;
  min-height: 300px;
  /* min-width: 300px; */
}

.details-name {
  font-size: large;
}